.item-list-container {
    background-image: url('https://previews.123rf.com/images/cnuisin/cnuisin2001/cnuisin200100371/138533353-skateboard-seamless-pattern-skating-vector-extreme-sport-cartoon-scarf-isolated-repeat-wallpaper-til.jpg?fj=1');
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
