:root {
  /*fonts*/
  --catamaran-font: 'Catamaran', sans-serif;
  --mulish-font: 'Mulish', sans-serif;
  /*colors*/
  --primary-color: #EC2719;
  --body-bg-color: #1d1d1d;
  --border-color: #737373;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--mulish-font);
}

body {
  background-color: var(--body-bg-color);
  background-image: url ('https://previews.123rf.com/images/cnuisin/cnuisin2001/cnuisin200100371/138533353-skateboard-seamless-pattern-skating-vector-extreme-sport-cartoon-scarf-isolated-repeat-wallpaper-til.jpg?fj=1');
}

button {
  border: none;
  background: none;
}

.button-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  font-family: var(--mulish-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto;
  width: 112px;
  height: 36px;
  cursor: pointer;
}

.button-primary:hover {
  border: none;
    color: var(--just-white);
    background-color: var(--border-color);
}


